COMANDO PRINT

In [1]:
#comando print
x=8
print(x)

8

In [3]:
#soma
y=2
soma=x+y
print(soma)

10

In [7]:
#nome
nome="Rafael"
print(nome)

Rafael

CONCATENAÇÃO

In [8]:
x=5
print("o valor de x é", x)

o valor de x é 5

In [10]:
print("o valor de x é", x ,"e o dobro de x é", x*2)

o valor de x é 5 e o dobro de x é 10

In [11]:
print(" eu,", nome , "tirei", x , "na prova de python")

 eu, Rafael tirei 5 na prova de python

In [14]:
y=10; z=20+x-y
print(x,y,z)

5 10 15

TYPE

In [21]:
x=10
type(x)
print('x' , type(x))

name="rafael"
type(name)
print('name', type(name))

num="100"
type(num)
print("num", type(num))

num_convert=int(num)
print('num', type(num))

print('num_convert', type(num_convert))

num_float=float(num)
print("num_float", num_float , type(num_float))

x <class 'int'>
name <class 'str'>
num <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0 <class 'float'>

INPUT

In [27]:
name=input('digite o nome do usuário ')
print(name)

digite o nome do usuário Rafael
Rafael

In [28]:
valor=input('digite sua nota ')
print(name, "sua nota foi ", valor)

digite sua nota 5
Rafael sua nota foi  5

In [29]:
valor=input("digite o valor do produto ")
print(valor)

digite o valor do produto 100
100

In [35]:
valor_convert=int(valor)
desconto=valor_convert-5

print(desconto)

95